$success:       #2CC585;
$info:          #4A72FF;
$warning:       #FFB054;
$danger:        #D65F5F;

// primary
$primary-100: #FFFDF5;
$primary-200: #FFFBE5;
$primary-300: #E8E3DA;
$primary-400: #6E6B67;

// accent
$accent-100: #E0EFDE;
$accent-200: #569573;
$accent-300: #406C55;

// neutral
$gray-100  : #F8F9FA;
$gray-200  : #DEE2E6;
$gray-300  : #ADB5BD;
$gray-400  : #6C757D;
$gray-500  : #343A40;
$gray-600  : #212529;