/******* start of slider *******/ 
.slider {
		padding-top: 80px;
		padding-bottom: 80px;

	.slider_inner {
    position: relative;  // 定位點
  }

  .slider_text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 完全置中對齊 */
    text-align: center;
  }
	
  // min-width: 576px
  @include media-breakpoint-up(sm) {}
  
  // min-width: 768px
  @include media-breakpoint-up(md) {}
  
  // min-width: 992px
  @include media-breakpoint-up(lg) {
    .slider_text {
      position: absolute;
      width: 100%;
      top: 50%;
      text-align: left;
      margin-left: 40px;
    }
  }
}

/******* end of slider *******/


/******* start of hot-topic *******/
.hot-topic {

  padding-top: 80px;
  padding-bottom: 80px;

  .hot-topic_inner {

  }
  
  .card {
    // height: 200px;
    // background-size: cover;

    // bootstrap 樣式清空
    border-radius: 0 !important;
    border-width: 0 !important;

    img {
      border-radius: 20px 0 20px 0px !important;
    }
   }
  
  .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 37, 41, 0.4);
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 20px 0 20px 0px !important;
    border-width: 0 !important;
  }
  
  .card:hover::after {
    opacity: 1;
    cursor: pointer;
  }
}
/******* end of hot-topic *******/