.login {
	padding-top: 60px;
	padding-bottom: 60px;

	.login-inner {}

	h6 {
		font-size: 16px;
		display: flex;
		justify-content: center;
		line-height: 1.2;
		position: relative;
		font-weight: 700;
	}

    /* 字下方的橫線*/
	h6::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: $gray-200;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
		z-index: 0;
	}

    /* 左邊的圓點*/
	/* .title-text::before {
		content: '';
		position: absolute;
		width: 6px;
		height: 6px;
		background-color: #C1C1C1;
		border-radius: 50%;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	} */

    /* 右邊的圓點*/
	/* .title-text::after {
		content: '';
		position: absolute;
		width: 6px;
		height: 6px;
		background-color: #C1C1C1;
		border-radius: 50%;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	} */

	.title-text {
		color: $gray-300;
		padding: 0 12px;
		background: $white;
		z-index: 1;
	}

	// min-width: 576px
	@include media-breakpoint-up(sm) {}

	// min-width: 768px
	@include media-breakpoint-up(md) {}

	// min-width: 992px
	@include media-breakpoint-up(lg) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
