<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>訂閱方案 | 內容訂閱網站</title>
</head>

<body>
  <%- include('./layout/nav'); -%>

  <div class="subscription">
    <div class="container subscription-inner py-10 py-lg-11">
      
      <nav aria-label="breadcrumb mt-2 mt-lg-5">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">首頁</a></li>
          <li class="breadcrumb-item active" aria-current="page">訂閱方案</li>
        </ol>
      </nav>

      <h2 class="fs-4 fs-lg-2 mb-8 mb-lg-10">訂閱方案</h2>

      <div class="d-grid gap-2 d-md-flex justify-content-center mb-6 mb-lg-8" id="list-tab" role="tablist">
        <button class="btn btn-accent-200 text-white" type="button" id="list-page01-list" data-bs-toggle="list" href="#list-page01" role="tab" aria-controls="list-page01-list">年繳</button>
        <button class="btn btn-accent-200 text-white" type="button" id="list-page02-list" data-bs-toggle="list" href="#list-page02" role="tab" aria-controls="list-page02-list">月繳</button>
      </div>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-page01" role="tabpanel" aria-labelledby="list-page01-list">
          <div class="row g-5">
            <div class="col-12 col-lg-4 bg-white border border-1 border-primary-300 rounded-2 p-6 p-lg-8">
            1<br/>2<br/>3<br/>4<br/>5
            </div>
            <div class="col-12 col-lg-4 bg-white border border-1 border-primary-300 rounded-2 p-6 p-lg-8">
              1<br/>2<br/>3
            </div>
            <div class="col-12 col-lg-4 bg-white border border-1 border-primary-300 rounded-2 p-6 p-lg-8">
              1<br/>2<br/>3
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>

</html>